<div class="grid" xmlns="http://www.w3.org/1999/html">
  <div class="col-12">
    <div class="card mb-3 p-4">
      <h6 class="mb-0">SETUP</h6>
      <h4 class="mt-0 mb-0">Users</h4>
    </div>
    <div class="card p-4">
      <div class="mb-5">

        <p class="mb-1">User</p>
        <h4 class="mb-1 mt-0">Name</h4>
      </div>

      <p-fieldset legend="User Detail">
        <div class="grid">
          <!-- 1 field -->
          <div class="field col-12 md:col-6 pl-5 pr-5 mb-0 mt-0 p-0">
            <div class="field grid">
              <label htmlFor="title" class="col-6 mb-2 md:col-2 md:mb-0 label"
              >Title</label
              >
              <div class="col-12 md:col-10">
                <p id="title"></p>
              </div>
            </div>
          </div>
        </div>
      </p-fieldset>
    </div>
  </div>
</div>
